/* Home page */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.products {
    display: flex;
    justify-content: center;
    background-color: white;
}
.product {
    width: 300px;
    border: 2px solid greenyellow;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
.added {
    color: white;
    background-color: red;
}
/* Cart page */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
thead {
    background-color: antiquewhite;
}
td {
    padding: 5px;
}
tr:nth-child(even) {
    background-color: azure;
}

.left{
    float: left;
    height: 100%;
    width: 22%;
    margin-left: 25%;
    padding-top: 2vh;
    text-align: right;
    clear: both;
}

.left img{
    width: 100%;
}

.left iframe{
    width: 100%;
}

.right{
    float: right;
    width: 22%;
    padding-top: 2vh;
    margin-right: 25%;
    text-align: left;
    font-size: 1.8vh;
}

.right p{
    width: 100%;
}


.omosstitel{
    padding-top: 12vh;
    text-align: center;
}

.conomoss{
    width: 100%;
    height: 100%;
}